$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$btnBackground: #3E3E3E;
$backgroundColor: rgb(126, 121, 121);
$squareLength: 60px;
$squareFontSize: 30px;

$pastelRed: #f68fa0;
$pastelBlue: #93b9dc;
$pastelPurple: #b19cd9;